<div class="navbar-home container">
  <p> <%= user_signed_in? ? "Welcome back #{current_user.first_name.capitalize}!" : "Welcome to dotBang!" %></p>
  <div class="login">
    <% if user_signed_in? %>
        <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <% profile = current_user.profile %>
            <% url = profile.nil? ? "https://serc.carleton.edu/download/images/54334/empty_user_icon_256.v2.png" :  cl_image_path(profile.photo.key) || profile.avatar_url  %>
              <%= image_tag "#{url}", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <% if profile.nil? %>
                  <%= link_to "Create Profile!", new_profile_path, class: "dropdown-item" %>
                <% else %>
                  <%= link_to "Bookmarks!", bookmarks_path, class: "dropdown-item" %>
                  <%= link_to "Create a post!", new_post_path, class: "dropdown-item" %>
                <% end %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
          </li>
        </ul>
    <% else %>
      <a href="/users/sign_in">Login</a>
      <a href="/users/sign_up" id="sign-up">Sign up</a>
    <% end %>
  </div>
</div>
