<div class="section" data-controller="home-scroll" data-home-scroll-target="body">
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>

  <%= render "shared/navbar" %>

  <div class="container">
    <div class="content">
      <div class="semi-content">
        <div class="title">
          <h1>dot<strong id="bang">Bang</strong></h1>
          <div id="sentence">
            <h2>Where you define your path, and make it happen</h2>
            <p>Access community-created content by exploring the <strong>roles</strong> you’re interested in or the skills you want to sharpen</p>
          </div>
        </div>

        <div class="buttons">
          <a class="big" href="/" id="roles" data-action="click->home-scroll#roleScroll"><span class="skew-fix">Roles</span></a>
          <a class="big" href="/" id="skills" data-action="click->home-scroll#skillScroll"><span class="skew-fix">Skills</span></a>
        </div>
      </div>

    </div>
  </div>
  <div class="d-none flex" data-home-scroll-target="role">
        <div class="info-box">
          <a href="#" class="skills-btn-small-roles" data-action="click->home-scroll#switchToSkills"><span class="skew-fix">Skills</span></a>
          <a href="#" class="arrow-up skew-fix" data-action="click->home-scroll#goUp"></a>
          <h3 class="skew-fix">Roles </h3>
          <p class="skew-fix">
          </p>
          <div class="tags">
            <% Role.all.each do |role| %>
              <%= link_to posts_path(type: "Role", postable_id: role.id),
                class: "tag-btns role-tag #{ 'active' if role == @postable }",
                data: {action:"click->select-category#showSearch"}  do %>
                  <span class="skew-fix">
                    <%= role.name %>
                  </span>
                <% end %>
          <% end %>
          </div>
          <%# <a href="/posts" class="explore-more"> <span class="skew-fix">Explore more</span></a> %>
        </div>

  </div>

  <div class="d-none flex" data-home-scroll-target="skill">
        <div class="info-box">
          <a href="" class="skills-btn-small" data-action="click->home-scroll#switchToRoles"><span class="skew-fix">Roles</span></a>
          <a href="" class="arrow-up skew-fix" data-action="click->home-scroll#goUp"></a>
          <h3 class="skew-fix">Skills </h3>
          <p class="skew-fix">
          </p>
          <div class="tags">
            <% Skill.all.each do |skill| %>
              <%= link_to posts_path(type: "Skill", postable_id: skill.id),
                class: "tag-btns skill-tag #{ 'active' if skill == @postable }",
                data: {action:"click->select-category#showSearch"} do %>
                <span class="skew-fix">
                    <%= skill.name %>
                  </span>
                <% end %>
            <% end %>
          </div>
          <%# <a href="/posts" class="explore-more"> Explore more</a> %>
        </div>
  </div>

</div>
