<div class="right-column">
    <div class="author-card">
      <h2>About the Author</h2>
      <%= link_to profile_path(@author), class: 'text-decoration-none' do %>
        <div class="name-and-avatar top-margin">
          <% if @author.nil? %>
            <%= image_tag "https://serc.carleton.edu/download/images/54334/empty_user_icon_256.v2.png", width:200, id: "post-avatar" %>
          <% elsif @author.photo.key %>
            <%= cl_image_tag @author.photo.key , alt: "", width: 200, id:"post-avatar"  %>
          <% else %>
            <%= image_tag @author.avatar_url , alt: "", width: 200, id:"post-avatar"  %>
          <% end %>
          <div class="name-position">
            <h3><%= @author.user.first_name %> <%= @author.user.last_name %></h3>
            <p><%= @author.current_role %></p>
          </div>
        </div>
      <% end %>
      <div class="description top-margin">
      <h3>Description</h3>
        <p><%= @author.description %></p>
      </div>
      <div class="years-experience top-margin">
        <h3>Years of experience</h3>
        <p><%= @author.years_of_experience %></p>
      </div>
      <div class="credentials top-margin">
        <h3>Credentials</h3>
        <p><%= @author.credentials %></p>
      </div>
      <div class="city top-margin">
        <h3>City</h3>
        <p><%= @author.city %></p>
      </div>
      <% if !@author.GitHub_url.nil? && !@author.LinkedIn_url.nil? && !@author.Twitter_url.nil?%>
        <div class="links top-margin">
          <h3>Follow me</h3>
          <p><%=  @author.GitHub_url %></p>
          <p><%=  @author.LinkedIn_url %></p>
          <p><%=  @author.Twitter_url %></p>
        </div>
      <%end%>
    </div>
</div>
