<div class="mid-column">
  <% if @post.postable_type == "Role" %>
    <div class ="header-container-yellow">
      <div class="header-container-blur">
        <h1><%= @post.title %></h1>
        <h2><%= @post.blurb %></h2>
      </div>
    </div>
  <% else %>
    <div class ="header-container-blue">
      <div class="header-container-blur">
        <h1><%= @post.title %></h1>
        <h2><%= @post.blurb %></h2>
      </div>
    </div>
  <% end %>

    <div class="mid-column-content">

    <div class="author-top-middle-column">

      <%= render "post_icons" %>

    </div>
      <div class="text-container">
        <p><%= @post.rich_content %></p>
      </div>
      <div>
        <%= render "comments" %>
        <%= render "create_comment" %>
      </div>
    </div>
  </div>
