<div class="mid-column">
    <div class="author-top-middle-column">
      <%= render "author_avatar" %>

      <%= render "post_icons" %>

    </div>
    <div class="mid-column-content">
      <div class="text-container">
        <h1><%= @post.title %></h1>
        <h2><%= @post.blurb %></h2>
      </div>
      <div class="text-container">
        <p><%= @post.rich_content %></p>
      </div>
    </div>
  </div>
