
<div class="background-container <%= params[:type] == "Role" ? 'yellow-background' : 'blue-background' %>" data-controller="select-category" data-select-category-target="background">
  <div class='index-container'>
    <%= render "sidebar" %>

    <div class='container' id="select-margin">
      <div >
        <%= simple_fields_for :tag do |n| %>
          <%= n.input :tag,
                      as: :radio_buttons,
                      collection_wrapper_tag: 'div',
                      collection_wrapper_class: 'tag-wrapper',
                      item_wrapper_class: 'tag-item',
                      label: '',
                      label_method: lambda { |text| "<span class='skew-fix'>#{text}</span>".html_safe },
                      required: false,
                      input_html: {class: 'tag-index', data: { action:"click->select-category#showDropdown" }},
                      collection: Post::CATEGORIES,
                      checked: "#{params[:type]}s" # This is Lorenzo's fault and it is horrible I-ll fix it at some point
                      %>
        <% end %>

        <div class="category-type-container <%= 'd-none' unless params[:type] == "Role" %>" data-select-category-target="roles">
          <% Role.all.each do |role| %>
            <%= link_to posts_path(type: "Role", postable_id: role.id),
              class: "tag-index-roles #{ 'active' if role == @postable }",
              data: {action:"click->select-category#showSearch"} do %>
              <span class="skew-fix">
                <%= role.name %>
              </span>
            <% end %>
          <% end %>
        </div>

        <div class="category-type-container <%= 'd-none' unless params[:type] == "Skill" %>" data-select-category-target="skills">
          <% Skill.all.each do |skill| %>
            <%= link_to posts_path(type: "Skill", postable_id: skill.id),
              class: "tag-index-skills #{ 'active' if skill == @postable }",
              data: {action:"click->select-category#showSearch"} do %>
              <span class="skew-fix">
                <%= skill.name %>
              </span>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="results-container" data-select-category-target="results">
        <div class="row justify-content-center">
          <div class="col-sm-8">
            <% if @posts.empty? && params[:type].present? %>
              <h1 id="results">No posts at the moment 🙁</h1>
            <% elsif params[:type].present? %>
              <div class="posts-title">
                <h1 id="results">Results</h1>
              </div>
              <% @posts.sort_by { |post| post.votes.count }.reverse.each do |post| %>
                <%= link_to post_path(post), class: "text-decoration-none"  do %>
                <div class="post-container">
                  <div class="post">

                    <div class="post-content"  >
                      <div class="post-text">
                        <h2> <%= post.title %> </h2>
                        <p><%= post.blurb %></p>
                      </div>
                    </div>
                    <% if Profile.find_by(user_id: post.user_id).avatar_url %>
                      <%= image_tag Profile.find_by(user_id: post.user_id).avatar_url, alt: "Le Wagon", width: 200, id:"post-avatar"  %>
                    <% else %>
                      <%= image_tag "https://uploads.sitepoint.com/wp-content/uploads/2017/03/1488480428eloquent-js.jpg",  class: "card-trip-user " %>
                    <% end %>
                  </div>
                  <div class= "post-details">
                      <p>Votes: <%= post.votes.count %></p>
                      <div class="icon--default btn btn-primary" id="bookmark-icon">
                        <% if current_user.bookmark_for(post) %>
                          <%= link_to bookmark_path(current_user.bookmark_for(post)), method: :delete do %>
                            <i class="fas fa-solid fa-bookmark"></i>
                          <% end %>
                        <% else %>
                          <%= link_to post_bookmarks_path(post), method: :post, data: {user: current_user} do %>
                            <i class="far fa-bookmark"></i>
                          <% end %>
                        <% end %>
                      </div>

                      <div class= "author">
                        <% user = User.find(post.user_id)%>
                        <p><strong><%= user.first_name %> <%= user.last_name %></strong>,  <%= post.created_at.strftime("%Y-%m-%d")%></p>
                      </div>
                  </div>
                </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
