
<div class='show-container'>
  <%= render "sidebar" %>
  <div class='container'>
    <div class ="header-container-createpost">
      <div class="header-container-blur-createpost">
        <span class="title-createpost-shadow-yellow">
          Create your own post here!
        </span>
      </div>
    </div>
    <div data-controller='select-category'>
      <%= simple_form_for(@post) do |f| %>

        <%= simple_fields_for :tg do |n| %>
        <%= n.input :tg,
                    as: :radio_buttons,
                    collection_wrapper_tag: 'div',
                    collection_wrapper_class: 'tg-wrapper',
                    item_wrapper_class: 'tg-item',
                    label: '',
                    label_method: lambda { |text| "<span >#{text}</span>".html_safe },
                    required: false,
                    input_html: {class: 'tg-selector', data: { action:"click->select-category#showDropdown" }},
                    collection: Post::CATEGORIES %>

        <div class="d-none" data-select-category-target="skills">
          <%= n.input :postableSkills,
                      label:"Skills",
                      collection: Skill.all,
                      as: :select
          %>
      </div>
        <div class="d-none" data-select-category-target="roles">
            <%= n.input :postableRoles,
                        label:"Roles",
                        collection: Role.all,
                        as: :select
          %>
        </div>
        <% end %>

        <div class="post-title" data-select-category-target="roles">
          <%= f.input :title, label:"Title of your article"%>
        </div>
        <div class="post-blurb" data-select-category-target="roles">
          <%= f.input :blurb, label:"Interesting headline to captivate users"%>
        </div>

        <div class="post-content" data-select-category-target="roles">
          <%= f.rich_text_area :rich_content, label:"Your article goes here!"%>
        </div>
        <div class="post-submit">
          <%= f.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
